<aside class="sidebar">
  <div class="logo-area">
    <mat-icon>account_balance_wallet</mat-icon>
    <span>BOSS BANK</span>
  </div>

  <nav>
    <a routerLink="/dashboard" routerLinkActive="active">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </a>
    <a routerLink="/extrato" routerLinkActive="active">
      <mat-icon>receipt_long</mat-icon>
      <span>Extrato</span>
    </a>
    <a routerLink="/cartoes" routerLinkActive="active">
      <mat-icon>credit_card</mat-icon>
      <span>Meus Cartões</span>
    </a>
    <a routerLink="/configuracoes" routerLinkActive="active">
      <mat-icon>settings</mat-icon>
      <span>Configurações</span>
    </a>
  </nav>
</aside>
